<!DOCTYPE html>
<html>
    <head>
        <title>Request Booking</title>
    </head>

    <body>
        <h1>Request Booking</h1>
        <div>
            <form id="booking_form" method="post" action="">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <input type="submit" name="submit" value="Request Booking" />
            </form>
        </div>
    </body>
</html>