.content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:80%;
    margin:auto;
}

h1, .selection, .chart {
    justify-content: center;
    margin:auto;
}

ul {
    list-style:none;
    font-size:20px;
}

.selection {
    display:inline-block;
}

li {
    float:left;

}

li a {
    display: block;
    text-align: center;
    padding:10px;
    text-decoration: none;
}